body{
    background-color: black;
    color: red;
    text-align: center;
    font-size:2em;
}
.contact-1{
    color:blue;
    text-align: center;
    font-size: smaller;
    list-style-type: none;
}
.contact-2{
    color: blue;   
    text-align: center;
    font-size: smaller;
    list-style-type: none;
}